<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des étudiants</title>
    <link rel="stylesheet" href="../../assets/css/style.css" type="text/css"></link>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="nav-link" href="/">Accueil</a></li>
            <li><a class="nav-link" href="/students">Étudiants</a></li>
        </ul>
    </div>
    <h1>
        Liste des étudiants
    </h1>

    <div class="list">
        <table class="student-list" id="studentsTable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th style="width: 10px"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script> 
    document.addEventListener("DOMContentLoaded", (event) => {
        fetchStudents()
    });

    const fetchStudents = () => {
        fetch("/students/list", {
            method: "GET",
            ContentType: "application/json",
        })
        .then(response => response.json())
        .then((data) => {
            const students = data.students;
            students.forEach((student, index)  => {
                const tr = document.createElement("tr");
                const tdName = document.createElement("td");
                const tdBirth = document.createElement("td");
                const tdAction = document.createElement("td");
                tdName.innerHTML = student.name;
                tdBirth.innerHTML = student.birth;
                const deleteAction = document.createElement("a");
                deleteAction.href = '/students/delete/'+index;
                deleteAction.innerHTML = '❌'
                deleteAction.addEventListener('click', (event) => {
                    event.preventDefault()
                    deleteStudent(index)
                })
                tr.appendChild(tdName);
                tr.appendChild(tdBirth);
                tdAction.appendChild(deleteAction);
                tr.appendChild(tdAction);
                document.getElementById('studentsTable').querySelector('tbody').appendChild(tr)
            })
        })
        .then(() => {
            gsap.from(document.getElementById('studentsTable').querySelectorAll('thead tr'), 
            { y : -50, opacity : 0, duration : 0.5, ease : 'ease.out'})
            gsap.from(document.getElementById('studentsTable').querySelectorAll('tbody tr:nth-child(even)'), {
                x : -500,
                opacity : 0, 
                duration :1,
                delay:0.1,
                stagger: 0.2
            });
            gsap.from(document.getElementById('studentsTable').querySelectorAll('tbody tr:nth-child(odd)'), {
                x : 500,
                opacity : 0, 
                duration :1,
                stagger: 0.2
            });
        })
    }

    const deleteStudent = (index) => {
        swal.fire({
            icon: 'question',
            titleText: 'Suppression d\'un étudiant',
            text: 'Êtes-vous sûr de supprimer cet étudiant ?',
            showConfirmButton :true,
            confirmButtonText: 'Supprimer',
            confirmButtonColor: '#07ba00',
            showCancelButton : true,
            cancelButtonText : "Annuler",
            cancelButtonColor : "#dd6b55"

        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/students/delete/${index}` , {
                    method:"DELETE",
                }).then((res) => {
                    document.getElementById('studentsTable').querySelector('tbody').deleteRow(index);
                })
                .catch((error) => {
                    console.error('Une erreur s\'est produite : ', error);
                });
            }
        })
            
    }
</script>
</html>